<a id=contents></a>

# Cleaning notebook
## Subtitle


[1. Data Inspection](#insp)

[2. Cleaning numerical data](#numerical)

[3. Cleaning categorical data](#categ)

[4. Cleaning text data](#text)

In [22]:
%load_ext autoreload
%autoreload 2 

import pandas as pd
import numpy as n
from pathlib import Path

import functions.functions as fn

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

<a id=insp ><a/> 

## 1. Data Inspection
    
[LINK to table of contents](#contents)

In [23]:
# 4-5 min to run
raw_path = Path('data/raw')
clean, cvt = fn.clean_tweet_text(raw_path)

In [24]:
clean.head()

,Unnamed: 0,tweet_id,datetime,display_name,tweet_text,User_id,extracted_twitter_handles,extracted_URLs,extracted_hashtags,clean_tweet_text,...,woman,work,working,world,would,yeah,year,yes,yet,youre
0,0,1579299680491823104,2022-10-10 02:36:00+00:00,ElonMusk,@CathieDWood ðŸ’¯,44196397.0,[@CathieDWood],[],[],ðŸ’¯,...,0,0,0,0,0,0,0,0,0,0
1,1,1579263949945835521,2022-10-10 00:14:01+00:00,ElonMusk,@WholeMarsBlog It will,44196397.0,[@WholeMarsBlog],[],[],It will,...,0,0,0,0,0,0,0,0,0,0
2,2,1579262341904203777,2022-10-10 00:07:38+00:00,ElonMusk,@chicago_glenn @neiltyson Strange @Twitter,44196397.0,"[@chicago_glenn, @neiltyson, @Twitter]",[],[],Strange,...,0,0,0,0,0,0,0,0,0,0
3,3,1579258883977416705,2022-10-09 23:53:53+00:00,ElonMusk,@WholeMarsBlog I have no desire to become invo...,44196397.0,[@WholeMarsBlog],[],[],I have no desire to become involved in wars bu...,...,0,0,0,0,0,0,0,0,0,0
4,4,1579235577492574209,2022-10-09 22:21:17+00:00,ElonMusk,@Teslarati Strong candidate to win most counte...,44196397.0,[@Teslarati],[],[],Strong candidate to win most counterintuitive ...,...,0,0,0,0,0,0,1,0,0,0

In [25]:
clean.to_csv('data/clean/clean_data.csv')

In [26]:
# now selecting those parts of the data that will be used only classification, i.e. the vectorized columns
cols  =list(clean.columns)
start_cvt_feats = cols.index('clean_tweet_text')+1
cvt_cols  = clean.columns[start_cvt_feats:]
cvt_cols= cvt_cols.insert(0, 'tweet_id')
feats_df = clean[cvt_cols]
feats_df.to_csv('data/clean/features/count_vect_feats.csv')

In [27]:
clean_display = clean[cols[1:start_cvt_feats]]
clean_display.to_csv('data/clean/clean_display_data.csv')

In [28]:
clean.head(1)

,Unnamed: 0,tweet_id,datetime,display_name,tweet_text,User_id,extracted_twitter_handles,extracted_URLs,extracted_hashtags,clean_tweet_text,...,woman,work,working,world,would,yeah,year,yes,yet,youre
0,0,1579299680491823104,2022-10-10 02:36:00+00:00,ElonMusk,@CathieDWood ðŸ’¯,44196397.0,[@CathieDWood],[],[],ðŸ’¯,...,0,0,0,0,0,0,0,0,0,0

In [30]:
import functions.nlp_eda as nlp

In [31]:
# we're also gonna get the tf-idf data since that gives us a different way 
# to analytically assess the text and words

tfdf = nlp.get_tfidf_df(clean_display, 'clean_tweet_text' )

In [32]:
tfdf.iloc[:, ].head()

,tweet_id,datetime,display_name,tweet_text,User_id,extracted_twitter_handles,extracted_URLs,extracted_hashtags,clean_tweet_text,10,...,work,working,world,would,yeah,year,years,yes,yet,youre
0,1579299680491823104,2022-10-10 02:36:00+00:00,ElonMusk,@CathieDWood ðŸ’¯,44196397.0,[@CathieDWood],[],[],ðŸ’¯,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1579263949945835521,2022-10-10 00:14:01+00:00,ElonMusk,@WholeMarsBlog It will,44196397.0,[@WholeMarsBlog],[],[],It will,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1579262341904203777,2022-10-10 00:07:38+00:00,ElonMusk,@chicago_glenn @neiltyson Strange @Twitter,44196397.0,"[@chicago_glenn, @neiltyson, @Twitter]",[],[],Strange,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1579258883977416705,2022-10-09 23:53:53+00:00,ElonMusk,@WholeMarsBlog I have no desire to become invo...,44196397.0,[@WholeMarsBlog],[],[],I have no desire to become involved in wars bu...,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1579235577492574209,2022-10-09 22:21:17+00:00,ElonMusk,@Teslarati Strong candidate to win most counte...,44196397.0,[@Teslarati],[],[],Strong candidate to win most counterintuitive ...,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [21]:
pd.DataFrame({'n': d.sum()}).sort_values('n', ascending=False).head(60)

                    n
co             254296
http           253778
http co        253738
elonmusk        26306
like            21949
people          21590
one             20681
time            17020
get             16738
year            15633
u               15057
would           14794
new             14634
good            13327
day             13234
need            12749
think           12620
make            12428
see             12331
today           12292
know            11602
tesla           11549
right           11036
work            10925
ukraine         10890
great           10070
go               9863
world            9666
want             9433
way              9424
say              8928
first            8895
thing            8848
look             8705
even             8661
much             8602
back             8395
thank            8356
still            8139
support          8135
take             8134
many             8102
could            7824
going            7545
russia           7486
love             7442
well             7227
country          6999
life             6969
week             6917
help             6899
really           6680
better           6589
twitter          6548
thanks           6500
never            6289
let              6278
last             6215
wholemarsblog    6214
best             6085

<a id=numerical ><a/> 

## 2. Cleaning numerical data
    
[LINK to table of contents](#contents)

<a id=categ ><a/> 

## 3. Cleaning categorical data
   
[LINK to table of contents](#contents)

<a id=text ><a/> 

## 4. Cleaning text data
    
[LINK to table of contents](#contents)